<nav id="nav_menu">
    <ul>
        <li><a href="/">Visitor</a></li>
        <li><a href="/allpages">All pages</a></li>
        <li><a href="/add-page">Add Page</a></li>
        <li><a href="/edit-site">Edit Site</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>