<%- include('layouts/head') -%>

    <body>
        <header>
            <%- include('layouts/header1') -%>
            <%- include('layouts/nav-admin-home') -%>
        </header>
        <main id="about">
            <p>This is a website created by the PHA team. This website was published on December 7<sup>th</sup> 2020. The website was made using the following technologies:</p>
            <ul>
                <li>Node JS</li>
                <li>Express</li>
                <li>MonogoDB</li>
                <li>HTML</li>
            </ul>
        </main>
    </body>
    <%- include('layouts/footer') -%>