<%- include('layouts/head') -%>

    <body>
        <header>
            <%- include('layouts/header1') -%>
            <%- include('layouts/nav-visitor') -%>
        </header>
        <main>
            <p>This is Contact Page</p>
        </main>
    </body>
    <%- include('layouts/footer') -%>