<%- include('layouts/head') -%>

    <body>
        <header>
            <%- include('layouts/header1') -%>
            <%- include('layouts/nav-admin-home') -%>
        </header>
        <main id="home">
            <h2>Hello User!</h2>
            <h4>Steps to use the PHA: CMS</h4>
            <ol>
                <li>Sign up with a new username and password.</li>
                <li>Login using your username and password.</li>
                <li>Add a new page to the website by clicking on Add page.</li>
                <li>The added page will appear on the home screen.</li>
                <li>Delete or edit a page from the All pages tab.</li>
                <li>Edit the overall look of the website by clicking on Edit site.</li>
            </ol>
            <p>
                For any queries or to ask for help. Please email us on at <a href="mailto: askforhelp@pha.com">askforhelp@pha.com</a>
            </p>
        </main>
    </body>
    <%- include('layouts/footer') -%>